<div class="authentications clearfix">
<a href="/users/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="#" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="#" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/users/auth/linkedin" class="auth_provider">
  <%= image_tag "linkedin_64.png", :size => "64x64", :alt => "OpenID" %>
  Linkedin
</a>
</div>