<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
  		<a class= "brand" href="/">OmniAuth Example</a>
  		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  		<span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse collapse">
      	<ul class="nav pull-right">
    	  <% if user_signed_in? %>
    	    <li><%= link_to "Your Profile", edit_user_registration_path %></li>

    	    <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
    	  <% else %>
    		  <li><%= link_to "Sign up", new_user_registration_path %></li>
    		  <li><%= link_to "Sign In", new_user_session_path %></li>
    	  <% end %>
      	</ul>
      </div>
      
		</div>

	</div>
</header>